# Autoreconf stage files:
/autom4te.cache

# Configure stage files:
*.f90.d
.dirstamp
/Makefile
/config.log
/config.status

# Build stage files:
*.o
/bin/extpar_ahf_to_buffer.exe
/bin/extpar_alb_to_buffer.exe
/bin/extpar_aot_to_buffer.exe
/bin/extpar_consistency_check.exe
/bin/extpar_cru_to_buffer.exe
/bin/extpar_emiss_to_buffer.exe
/bin/extpar_flake_to_buffer.exe
/bin/extpar_isa_to_buffer.exe
/bin/extpar_landuse_to_buffer.exe
/bin/extpar_ndvi_to_buffer.exe
/bin/extpar_soil_to_buffer.exe
/bin/extpar_topo_to_buffer.exe
/info_extpar.f90
/mod/*

# Other files:
*#
*~
*.aux
*.toc
*.log
*.exe
*.pyc
.depend*
*.dSYM
test/testsuite/work
*.out
*.nc
libtool-*
zlib-*
libaec-*
hdf5-*
netcdf-*
netcdf_fortran-*
eccodes-*
include
lib
share
work
!bin/gen_info.sh
!bin/sfmakedepend
!bin/cdo2alb-buffer.py
!bin/cdo2ndvi-buffer.py
info_extpar.f90
