# Autoreconf stage files:
/autom4te.cache
/src/config.h.in~

# Configure stage files:
*.c.d
*.f90.d
.dirstamp
/Makefile
/config.log
/config.status
/src/config.h
modules.env

# Build stage files:
*.o
/bin/extpar_alb_to_buffer.py
/bin/extpar_aot_to_buffer.exe
/bin/extpar_consistency_check.exe
/bin/extpar_cru_to_buffer.py
/bin/extpar_emiss_to_buffer.py
/bin/extpar_era_to_buffer.py
/bin/extpar_flake_to_buffer.exe
/bin/extpar_isa_to_buffer.py
/bin/extpar_ahf_to_buffer.py
/bin/extpar_landuse_to_buffer.exe
/bin/extpar_ndvi_to_buffer.py
/bin/extpar_soil_to_buffer.exe
/bin/extpar_topo_to_buffer.exe
/mod/*
/src/info_extpar.f90

# Dist stage files:
/extpar-*.tar.bz2

# Other files:
*#
*~
*.aux
*.toc
*.log
*.exe
*.pyc
.depend*
.fconfig
*.dSYM
test/testsuite/work
*.out
*.nc
libtool-*
zlib-*
libaec-*
hdf5-*
netcdf-*
netcdf_fortran-*
eccodes-*
include
share
work
!bin/gen_info.sh
!bin/sfmakedepend
info_extpar.f90
test/testsuite/bin/extpar_**.py
test/testsuite/bin/gen_info.sh
test/testsuite/bin/sfmakedepend
test/testsuite/transfer.txt
test/testsuite/input-data/*

# Links to netCDF in icon_d2_caching test
!test/testsuite/data/dwd/icon_d2_caching/*.nc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
public/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Page deployment
site/