*#
*~
*.aux
*.toc
*.log
*.exe
*.pyc
.depend*
*.dSYM
test/testsuite/work
*.out
*.nc
libtool-*
zlib-*
libaec-*
hdf5-*
netcdf-*
netcdf_fortran-*
eccodes-*
include
lib
share
work
!bin/gen_info.sh
!bin/sfmakedepend
!bin/cdo2alb-buffer.py
!bin/cdo2ndvi-buffer.py
info_extpar.f90
