site_name: EXTPAR
site_url: http://c2sm.github.io/extpar/
theme:
  name: material
docs_dir: docs/
repo_name: C2SM/extpar
repo_url: https://github.com/C2SM/extpar
edit_uri: edit/master/docs/
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      auto_title: false
      use_pygments: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.extra:
      pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
  - pymdownx.extra:
      pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
      toc_depth: 2
plugins:
  - search
  - literate-nav:
      nav_file: SUMMARY.md
  - git-revision-date-localized:
      enable_creation_date: true
extra_css:
  - assets/css/extra.css
theme:
  name: material
  language: en
  logo: assets/images/c2sm_logo_white_transparent.png
  favicon: assets/favicons/favicon.ico
  icon: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: extpar-light
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: 'Roboto'
    code: 'Roboto Mono'

  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - mermaid2
    - navigation.bottom
    - navigation.indexes
    - navigation.instant
    - navigation.path
    - navigation.sticky
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search
    - search.share
    - search.suggest
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js