[data-md-color-scheme="extpar-light"] {
  --md-primary-bg-color:        #ffffff;
  --md-typeset-a-color:         #0B8C1A;
  --md-primary-fg-color:        #0B8C1A;
  --md-accent-fg-color:         #FF5733;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #0B8C1A;
  --md-typeset-a-color:         #0B8C1A;
  --md-accent-fg-color:         #FF5733;
  --md-hue: 210;
}

[data-md-color-scheme=c2sm-light] img[src$="#only-dark"],
[data-md-color-scheme=c2sm-light] img[src$="#gh-dark-mode-only"] {
display: none; /* Hide dark images in light mode */
}

/* Admonition for pages under construction */
:root {
  --md-admonition-icon--construction: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 20.59 20.59 22l-3.14-3.14c-.56.37-1.15.7-1.79.92-1.66.58-3.46.62-5.13.1-1.03-.3-1.97-.83-2.78-1.51l-3.19 3.19c-.56.59-1.53.59-2.12 0-.58-.56-.58-1.56 0-2.12l3.38-3.38 2.65-.52a6.1 6.1 0 0 0 2.81 1.96c1.16.35 2.44.34 3.59-.04.29-.09.57-.2.83-.34L7.6 9l-1.77 1.78L3 7.95 7.95 3l4.24 1.41L9 7.6l8.31 8.29c.19-.18.34-.36.49-.56 1.5-1.97 1.62-4.91.29-7.33C16.78 5.57 14.5 3.55 12 2c1.41.5 2.76 1.17 4 2.04 1.24.87 2.43 1.89 3.33 3.21.9 1.29 1.54 2.87 1.67 4.54.1 1.68-.34 3.44-1.3 4.86-.2.35-.46.63-.7.91l3 3.03Z"/></svg>')
}
.md-typeset .admonition.construction,
.md-typeset details.construction {
  border-color: rgb(255, 145, 0);
}
.md-typeset .construction > .admonition-title,
.md-typeset .construction > summary {
  background-color: rgba(255, 145, 0, 0.1);
}
.md-typeset .construction > .admonition-title::before,
.md-typeset .construction > summary::before {
  background-color: rgb(255, 145, 0);
  -webkit-mask-image: var(--md-admonition-icon--construction);
          mask-image: var(--md-admonition-icon--construction);
}

/* thead tr{ background-color: #00305d7f; } */
thead tr{ background-color: rgb(from var(--md-primary-fg-color)r g b / 70%); }
tbody tr:nth-child(even){ background-color: rgb(from var(--md-primary-fg-color)r g b / 50%); }
tbody tr:nth-child(odd){ background-color: rgb(from var(--md-primary-fg-color)r g b / 20%); }

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: none !important;
}
